﻿@{
	ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
	<h1>Contoso University</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to Contoso University</h2>
		<p>
			Contoso University is a sample application that
			demonstrates how to use Entity Framework Core in an
			ASP.NET Core MVC web application.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Build it from scratch</h2>
		<p>You can build the application by following the steps in a series of tutorials.</p>
		<p>
			<a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">
				See the
				tutorial &raquo;
			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Download it</h2>
		<p>You can download the completed project from GitHub.</p>
		<p>
			<a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/efmvc/intro/samples/cu-final">
				See
				project source code &raquo;
			</a>
		</p>
	</div>
</div>